# Turso Database Credentials
VITE_STOCK_DB_URL=libsql://warehousekimi-vercel-icfg-tf7wnf43zngjwvbur4t9rp6n.aws-us-east-1.turso.io
VITE_STOCK_DB_TOKEN=eyJhbGciOiJFZERTQSIsInR5cCI6IkpXVCJ9.eyJhIjoicnciLCJpYXQiOjE3NzI5NTg3MTMsImlkIjoiMDE5Y2E3OGUtNDgwMS03OWU1LWE5YzUtYWJhY2I3OTI3YzEwIiwicmlkIjoiNDBlYjZkNTMtYWVlYi00NDQ3LWE3OGYtNDA3ZTZlOTkxM2U2In0.khZS2dt9WN17CPf91tX8q_kFY3MWHoeGEVp3wILIV6QHDtlICeEd526wSZOPNwUoHHuwvmp1mjAgiKVSKBFVCQ

# Admin Credentials
VITE_ADMIN_PASSWORD=
VITE_MAINTENANCE_MODE=
VITE_BG_URL_LIGHT=
VITE_BG_URL_DARK=